In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.naive_bayes import GaussianNB,MultinomialNB,CategoricalNB

In [2]:

dataset=pd.read_csv('titanic.csv')
dataset.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [3]:
dataset.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
dataset.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [4]:
X=dataset.drop('Survived',axis='columns')
Y=dataset.Survived

In [5]:
X['Sex']=X['Sex'].apply(lambda x:1 if x=='female' else 0 )
X.head()
Y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [6]:
X.columns[X.isna().any()]
# X.describe()

Index(['Age'], dtype='object')

In [7]:
X.fillna(X.mean(),inplace=True)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [9]:
model=GaussianNB()

In [25]:
model.fit(X_train,y_train)

GaussianNB()

In [ ]:
#la précision du modèle doit refléter le résultat du score sur les données d'entraînement.

In [11]:
model.score(X_test,y_test)

0.7653631284916201

In [24]:
model.score(X_train,y_train)

0.7794943820224719

In [13]:


# Afficher les prédictions
predictions = model.predict(X_test)
print(predictions)

# Calculer l'exactitude en comparant les prédictions aux étiquettes réelles
accuracy = accuracy_score(y_test, predictions)

# Afficher l'exactitude
print("Exactitude du modèle:", accuracy)

precision = precision_score(y_test, predictions)

# Afficher la précision
print("Précision du modèle:", precision)

recall = recall_score(y_test, predictions)

# Afficher le rappel
print("Rappel du modèle:", recall)

f1 = f1_score(y_test, predictions)

# Afficher la F-mesure
print("F-mesure du modèle:", f1)

[0 1 1 0 1 1 1 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 1 1 0 1 0 1 0 0 0 1 0 1 0 1
 0 1 0 0 1 1 0 0 0 1 0 0 1 0 1 1 1 0 0 1 1 0 0 0 1 0 1 0 1 0 0 0 0 1 0 0 0
 0 1 1 1 0 1 1 0 0 1 1 0 1 0 1 0 0 0 0 1 0 0 1 0 1 1 0 1 1 1 0 1 1 0 0 0 1
 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 1 0 0
 0 0 1 0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 0 1 0 1 0 1 0 1 1 1 0 0 0]
Exactitude du modèle: 0.7653631284916201
Précision du modèle: 0.7534246575342466
Rappel du modèle: 0.6962025316455697
F-mesure du modèle: 0.7236842105263158